@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');


@import "tailwindcss";

* {
    font-family: "Titillium Web", sans-serif;
}

/* custom font sizes  */
.small-heading1 {
    font-size: 30px;
}

.small-heading2 {
    font-size: 36px;
}

.big-heading1 {
    font-size: 32px;
}

.big-heading2 {
    font-size: 38px;
}

.normal-size {
    font-size: 18px;
}

.first-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: 2rem 1rem;
}


.second-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 10rem;
}


/* .grid-templates {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(200px, 1fr));
} */
@media screen and (max-width: 990px) {

    .first-grid {
        grid-template-columns: repeat(2, 1fr);       
    }

    .second-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 2rem;       
    }
}





@media screen and (max-width: 760px) {

    .first-grid {
        grid-template-columns: 1fr;       
    }

    .second-grid {
        grid-template-columns: 1fr;
        margin: 2rem;
    }
}